    <a href="/">
      <span class="left">Shopping Cart</span><span class="right"><!--
      --><span class="count">{{quantity}}</span>
        {{format_quantity quantity "item"}}
      </span>
    </a>