<ul id="items">
  {{#each items}}
  <li data-id="{{id}}">
    <article>
      <header>
        <figure>
          <img src="/{{image}}" alt="menu-item">
        </figure>
        <h2 class="name">{{name}}</h2>
      </header>
      <p class="price">${{format_price price}}</p>
      <footer>
        <a href="#" class="add_cart">Add to cart</a>
      </footer>
    </article>
  </li>
  {{/each}}
</ul>